/*Module Page CSS*/
body {
}

h1, h2 {
    padding-left:20px;
}

.Overview-CheckList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Overview {
    background: #E5E5E5;
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}

.CheckList {
    background: #E5E5E5;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.Overview-P-Bold, .CheckList-P-Bold, .Module-Dashboard-P-Bold {
    font-weight: bold;
    font-size: 24px;
    margin-left: 7%;
    margin-bottom: 0;
    padding-top: 3px;
}

.Overview-P {
    font-size: 18px;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 3px;
}

.Module-SMEs {
    display: flex;
}

.SME {
    padding-left: 80px;
}

hr {
    margin-right: 5%;
    margin-left: 5%;
}

.Exercises {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 7%;
}

.Exercises p {
    font-weight: bold;  
}

.Exercise-Img {
    position: absolute;
    left: 70%;
}

.Module-Dashboard {
    background: #E5E5E5;
    margin: 40px 10% 0 10%; /*top right bottom left aka clockwise*/
    padding-bottom: 20px;
    width: 80%;
    height: auto;
}

.Dash-Headers {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 25px 10% 12px 10%; /*top right bottom left aka clockwise*/
    padding: 20px 10px 20px 10px;
}

.Dash-Camper {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10% 12px 10%; /*top right bottom left aka clockwise*/
    padding: 20px 10px 20px 10px;
}