@model Boot_Track.Models.Session
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/custom/IndexStyle.css" rel="stylesheet" type="text/css" />

@* Modal Window for Submitting Module for Review *@
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div classes="CCs-GSGs">
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p>[Insert CC/GSG Here]</p>
                    </div>
                    <div class="CC-GSG">
                        <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="grey" />
                        </svg>
                        <p><a href="mailto:henry.faulkner@perficient.com">[Insert CC/GSG Here]</a></p>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("SendEmail", "Index")) {
                    <input type = "submit" class="btn btn-danger" value="Send for Review" @*onclick='window.location.href ="/Modules/ModulePage"'*@/>
                } 
                
            </div>

        </div>
    </div>
</div>

<div class="Container">
    <h2 style="text-align: center;">Boot Camp Dashboard</h2>

    <div class="Filter-Container">

        <input type="text" class="Search-Bar" placeholder="Filter by Module" /> @* Try to add svg of search icon in placeholder*@

        <div class="Rows">
            <div class="Row1">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>Hide Modules with 100% Completion</span>
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>Show Only My Module Status</span>
            </div>
            <div class="Row2">
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" />
                <span>BC Modules Only</span>
                <img class="Exercise-Img" id="Unchecked" src="~/Images/square.svg" style="padding-left: 140px;" />
                <span>TC Modules Only</span>
            </div>
        </div>
    </div>



    <table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Module #</th>
        <th scope="col">Est. Target<br />Completion</th>
        <th scope="col">Type</th>
        <th scope="col">Henry</th>
        <th scope="col">Drew</th>
        <th scope="col">Kam</th>
        <th scope="col">Alex</th>
        <th scope="col">Jeremy</th>
        <th scope="col">David</th>
        <th scope="col">David</th>
        <th scope="col">MC</th>
        <th scope="col">Greyson</th>
        <th scope="col">Eric</th>
    </tr>
    </thead>

    <tbody>
    @{
        foreach(var module in @Model.modules){

    <tr>
        <th scope="row"><a href="@Url.Action("ModulePage", "Modules", new { ModuleTitle = module.Title })">@module.Title</a></th>
        <td>5/20</td>
        <td>Both</td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button type="button" onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button type="button" onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
        <td>
            <div class="dropdown">
                <button onclick="toggleShow(this)" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <button onclick="changeText(this)" value=""></button>
                    <button onclick="changeText(this)" href="" value="In Progress">In Progress</button>
                    <button onclick="changeText(this)" href="" value="Submit for Review" data-toggle="modal" data-target="#myModal">Submit for Review</button>
                </div>
            </div>
        </td>
    </tr>

        }
    }


    </tbody>
    </table>
</div>