body {
    padding-top: 150px;
    padding-bottom: 20px;
    background: #F8F8F8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 100px;
    padding-right: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 15px;
    border-color: #8C734B;
    padding: 5px;
}

    input:hover,
    select:hover,
    textarea:hover {
        outline: none;
        max-width: 280px;
        border-radius: 15px;
        border-color: #8D0E11;
        padding: 5px;
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        max-width: 280px;
        border-radius: 15px;
        border-color: #E61717;
        padding: 5px;
    }

ul {
    list-style: none;
}

.Logo {
    width: 100px;
    height: 79px;
}

.Title-Link {
    color: #FFFFFF;
    font-size: 36px;
}

    .Title-Link:hover {
        text-decoration: none;
        color: #8C734B;
    }

h2 {
    color: #CC1F20;
    font-weight: bold;
}

h1 {
    color: #CC1F20;
    font-weight: bold;
}

a {
    color: #81A7BB;
}

    a:hover {
        color: #8C734B;
        text-decoration: none;
    }

hr {
    border: 1px solid #81A7BB;
}

.pfp-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #010101;
}